body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #7a7a7a; /* Cor de fundo escuro */
}

.container {
    width: 450px;
    background-color: rgba(85, 85, 85, 0.733);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 0, 0, 0);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto; /* Centralizar horizontalmente */
}

.container button {
    font-weight: normal;
}

/* Estilos para os links dentro do container */
.container a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.container a:hover {
    text-decoration: underline;
}